<%- include("../layouts/boilerplate") %>
<body class="container" style="background-color:black;">
    
    <form action="/blog/" method="POST" enctype="multipart/form-data" class="container" >
        <div class="mb-3 mt-4">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile" name="image">
        </div>
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
            <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" rows="3" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</body>
 